@page "/"

<PageTitle>Home</PageTitle>


<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0">
	<meta name="viewport">
	<link rel="stylesheet" href="myStyle.css">
	<title>Haley's Rosh Hashanah</title>
</head>
<body>
	<div class="flex-container">
		<div class="left">
			<h1>Shanah Tova!</h1>
			<p>To make this new year even sweeter - please join our website!</p>
			<img src="img/pomegranates.png" alt="2 pomegranates" class="image2">
		</div>
		<div class="right">
			<h2>Create Account</h2>
			<div>
				<label for="firstName">First Name:</label>
				<input type="text" id="firstName" name="First Name" placeholder="Enter your first name">
			</div>
			<div>
				<label for="name">Last Name:</label>
				<input type="text" id="lastName" name="Last Name" placeholder="Enter your last name">
			</div>
			<div>
				<label for="email">Email:</label>
				<input type="text" id="email" name="Email" placeholder="Enter your email">
			</div>
			<button>Submit</button>
		</div>
	</div>
	<img src="img/fishHead.png" alt="A head of fish" class="image">
</body>
</html>

@code{

}